body {
    margin:0;
    padding:0;
    font-family:'Verdana',sans-serif;
    font-size:12px;
    background-color: #f5f5f5;

}

.main_block{
    margin:0 auto;
    width:1200px;
    border: 1px #9E9E9E solid;
    height: auto;
    min-height:900px;
}

#header {
    width: 1200px;
    height: 128px;
    background: url('../img/head_resume.jpg') no-repeat;
    margin-top: 0;
}

.footer{
    float:right;
    padding-right:1px;
}

.clear{
    clear: both;
}

.content{
    min-height: 800px;
    height:auto;
    margin-left: 10px;
    width: 98%;
    margin-top:10px;
    margin-bottom:10px;
    float: left;
}

.faculties{
    width:23%;
    height:auto;
    min-height:800px;
    padding:10px;
    float:left;
}

.info{
    width:70%;
    min-height:800px;
    height:auto;
    float:left;
    margin-left:10px;
    padding: 18px;
}


#menu_t {
    position: relative;
    float: right;
    margin: 79px 221px 0 0;
}
#menu_t ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu_t ul li{
    width: 90px;
    padding: 0 !important;
    margin: 0 12px 0 0;
    float: left;
}

#menu_t ul li a{
    cursor: pointer;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    padding: 10px;;
}
/* хлам */
#main {

    height:100%;
    background-color:#fff;
    vertical-align:top;
    padding:20px 25px 10px 50px;
}

#mainmenu {
    vertical-align:top;
}

#mainmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#mainmenu ul li a {
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #921806;
}

#mainmenu ul li ul {
    margin: 5px 0 6px 30px;
    padding: 0;
    list-style-type: disc;
}
#mainmenu ul li ul li {
    padding: 3px 0;
}
#mainmenu ul li ul li a {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: normal;
}

#mainmenu ul li ul li a:hover {
    color:#9e9e9e;
}

#logo {
    vertical-align:bottom;
}

#logo img {
    float: right;
    border: 0;
}

.persontitle {
    height:35px;
    vertical-align:bottom;
    text-align:right;
    font-size:0.8em;
    color:#AE2A15;
    font-weight:900;
    padding: 0 50px 0 0;
    background:url('../img/header_line.jpg') no-repeat;
    background-position: 100% 50%;
}
.persontitle a {
    color:#865A57;
    font-weight:900;
}
.ot {
    padding: 0 0 0 20px;
}
.textcenter {
    text-align: center;
}
.minitxt {
    font-size: 11px;
    font-weight: bold;
}

h1 {
    color:#a00;
    font-size:1.5em;
}
h2 {
    color:#500;
    font-size:1.3em;
}
h3 {
    color:#300;
    font-size:1.1em;
}

p {
    text-align:justify;
}


a {
    text-decoration:none;
    color:#2f2f2f;
    cursor:hand;
    font-weight:400;
}
a:hover {
    color:#9e9e9e;
}
.nav {
    color:#8e4942;
}
.nav a {
    color:#8e4942;
}
.contacts_info a{
    text-decoration: underline;
}

dt {
    font-weight:700;
    margin-top:5px;
}
dd {
    margin:0;
    padding:5px 0 10px 50px;
    text-align:justify;
}
ol {
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 5px;
    margin-top: 5px;
}
img.b1 {
    border-style:solid;
    border-color:#aaa;
    border-width:1px;
    margin-top:9px;
}

.personimg {
    vertical-align:top;
}
.specname {
    border-top: 1px solid #ccc;
    margin: 0 0 0 -21px;
    font-weight: bold;
    padding: 10px 0 0 0;
}
.specname_first {
    margin: 0 0 0 -21px;
    font-weight: bold;
    padding: 10px 0 0 0;
}
.personimg img {
    border-style:solid;
    border-color:#aaa;
    border-width:1px;
    margin-top:9px;
}
.red {
    color: #921806 !important;
    font-weight: bold !important;
}
#stt {
    cursor: pointer;
    width: 85px;
    height: 38px;
    background: url("../img/start.png") no-repeat;
    }
#stt:hover {
    background: url("../img/start_svet.png") no-repeat !important;
    }
#abt {
    cursor: pointer;
    width: 85px;
    height: 38px;
    background: url("../img/about.png") no-repeat;
    }
#abt:hover {
    background: url("../img/about_svet.png") no-repeat !important;
    }
#cntt {
    cursor: pointer;
    width: 85px;
    height: 38px;
    background: url("../img/contacts.png") no-repeat;
    }
#cntt:hover {
    background: url("../img/contacts_svet.png") no-repeat !important;
    }

.row {
    margin-bottom: 10px;
}