/* Sticky footer styles
             -------------------------------------------------- */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: url('../img/head-background2.png') no-repeat top center;
    /* Negative indent footer by it's height */
    margin: 0 auto -76px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 76px;
}
#footer {
    background-color: #64b6e2;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Custom page CSS
 -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
    width: 1250px;
    padding: 0 14px;
}
.container .credit {
    margin: 28px auto;
    color: #fff;
    width: 450px;
}

body {
    font-family: 'Segoe UI' !important;
}

#header {
    margin-left: 80px;
    height: 200px;
    margin-top: 0;
    padding-top: 22px;
}

#logo h1,h2 {
    margin: 0;
}
#logo h1{
    font: 78px 'Segoe UI';
    color: #fff;
    font-weight: 600;
}

#logo h2{
    font: 26px 'Segoe UI';
    color: #fff;
    font-weight: 600;
}

#user-info {
    float: right;
    margin-top: 17px;
    background-color: #fff;
    height: 20px;
    padding: 10px 18px;
    border: 2px solid #fff;
    border-radius: 18px 18px 0 0;
}


.search {
    float: left;
    width: 230px;
    margin-top: 10px;
}
.menu {
    margin-top: 17px;
    margin-left: 240px;
    float: left;
    font-size: 18px;
}
.menu ul {
    margin: 0;
    border-bottom: none;
}
.shadow {
    text-shadow: #5092b5 5px 5px 5px;
}
.navbar-search .search-query {
    width: 180px;
    border-radius: 9px;
}
.nav-tabs > li {
    margin-bottom: -2px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-left: 18px;
    padding-right: 18px;
}
.nav-tabs > li > a {
    border: 2px solid #fff;
    border-radius: 18px 18px 0 0;
    background-color: #93CCEB;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border-color: #fff;
    background-color: #fff;color: #2575c2;

}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #2575c2;
    border: 2px solid #fff;
}
/*CONTENT*/
.content {
    margin:30px 0;
}
.faculties {
    float: left;
    width: 288px;
}
.faculties a {
    display: block;
    margin-bottom: 10px;
}
.faculties ul{
    list-style: none;
}
.faculties ul a {
    font-size: 16px;
    font-weight: bold;
    color: #2575c2;
}
.faculties ul a:hover {
    text-decoration: none;
    color: #c77171;
}
.faculties ul li a {
    font-size: 14px;
    font-weight: normal;
    color: #000022;
}
.faculties li ul {
    margin-bottom: 12px;
}
/*FORMA*/
.row input, textarea, .uneditable-input {
    width: 400px;
}
.row {
    margin-left: 20px;
}
.row select {
    width: 412px;
}

/*INFO block*/
.info {
    float: left;
    padding: 0 30px;
    width: 896px;
}
.info p {
    margin-bottom: 6px;
}
.info h1 {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 24px;
    color: #2575c2;
}
.info h2 {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 24px;
}
.info h3 {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 24px;
}
.info h1 {
    font-size: 21.5px;
}
.info h2 {
    font-size: 14.5px;
}
.info h3 {
    font-size: 12.5px;
}
.account-list {
    float: left;
    width: 448px;
}
.account-list a {
    color: #000022;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.account-list a:hover {
    color: #2575C2;
}
.account-list ul {
    list-style: none;
}
.account-list li {
    color: #2575C2;
    font-size: 16px;
    margin: 13px 0;
}
.account-list li:first-child{
    margin-top: 0px;
}
.account-list ol {
    margin-left: 60px;
}


.account-info {
    float: left;
    width: 448px ;
}


/*FORM-authorization*/
.login-form {
    width: 520px;
    margin: 0 auto;
}
.login-form h1 {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
    color: #2575c2;
    font-size: 21.5px;
}