<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/screen.css" media="screen" />
{% endblock %}
{% block js %}{% endblock %}
</head>

<body>
<div class="main_block">
    <div id="header">
        <div id="menu_t">
            <ul>
                <li class="m1"><a href=""><div id="stt"></div></a></li>
                <li class="m2"><a href=""><div id="abt"></div></a></li>
                <li class="m3"><a href=""><div id="cntt"></div></a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="faculties">{% block faculties %}{% endblock %}</div>
        <div class="info">{% block information %}{% endblock %}
        </div>

    </div>

    <div class="footer">
        <a target="_blank" href="http://www.ulsu.ru"><img width="111" height="111" alt="" src="{{ STATIC_URL }}img/logo.png"></a>
    </div>
    <div class="clear"></div>
</div>
</body>

</html>