{% extends "index.html" %}

{% block js %}
    <script>
        $(document).ready(function() {
            $(".user").click(function(){
                var user_id = $(this).attr("id");
                console.log(user_id);
                $.ajax({
                    url: "/user/ajax/",
                    type: "GET",
                    data: {id: user_id},
                    success: function(data){
                        $(document).find(".account-info").html(data);
                    }
                });
            });
        });
    </script>
{% endblock %}


{% block faculties %}
    {% if a.slug == "about" or a.slug == "contacts" or a.slug == "appeal" %}
    {% else %}
        <ul>
            <a href="/{{ year }}/appeal/">Обращение к выпускникам</a>
            {% for i in institutes %}
                <a href="#">
                    {{ i.name }}
                </a>
                <li>
                    <ul>
                        {% for f in i.faculties.all %}
                            <li>
                                <a href="/{{ year }}/faculty/{{ f.id }}/">{{ f.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            {% for f in faculties %}
                <a href="/{{ year }}/faculty/{{ f.id }}">{{ f.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block information %}
    <div class="account-list">
        Поиск по запросу '{{ query }}'
        {% if not account %}<br />Поиск не дал результатов{% endif %}
        {{ generic_query }}
                    <ol>
                        {% for a in account %}
                            {% if a.approve %}
                                <li>
                                    <a href="#" class="user" id="{{ a.id }}">{{ a.last_name }}  {{ a.first_name }}  {{ a.middle_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
    </div>
    <div class="account-info">
    </div>




{% endblock %}